#mainDiv
{
  font: 2em "Arial"

}

body{
  background-color: gray;
}

header{
  margin: 0;
}

.headerList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  background-color: #444;
}

.headerList div
{

  background-color: #444;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.menu {
  background: transparent;
  border: none;
  color: #fff;
}

.menu:hover {
  color: purple;
}

.menu:active {
  color: green;
}

#mainDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 1.5em;
}

#contentDiv {
  height: 80%;
  width: 95%;
  background: red;
}
